body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

}

/* navbar styles start */
.navbar {
    transition: top 0.5s;
   
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky {
  padding-top: 10px;
}

.navbar a {
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    color: #111;

}

.coming {
    padding: 0 4%;
}

.child-list {
    display: none;
}

.navbar-toggler {
    border: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.btn-nav2 {
    border: none;
    background-color: #fff;

}

.navBtnDiv {
    padding-left: 3%;
}

.form-inline {
    padding-right: 3%;
}

.input-group-text {
    display: flex;
    border-radius: 5rem;
    color: #fff;
    font-size: 1.1rem;
    background: #f5f5f5;
    border: 0;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .text-area {
        display: none;
    }

    .input-group {
        background-color: #fff !important;
        justify-content: end;
    }

    .input-group-text {
        background-color: #fff !important;
        justify-content: end;

    }
}

.text-area {
    padding: 0;
    margin-top: 8px;
}

.form-control {
    display: flex;
    border-radius: 5rem;
    color: aliceblue;
    font-size: 1.1rem;
    background: #f5f5f5;
    border: 0;
    margin: 0;
    padding: 0;
}

.input-group {
    background-color: #f5f5f5;
    border-radius: 5rem;
    margin: 10px;
}

/* .parent-class:hover .child-list {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1000;
} */

.child-list a {
    text-decoration: none;
    color: gray;
    padding: 5px;

    font-weight: 400;

}

.dropdown-toggle::after {
    display: none;
}

.drop-p {
    font-family: 'Helvetica Now Display';
    color: #000;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* navbar styles ends */

/* navbar new */
.nav-drop {
    background-color: #ffffff;
    padding: 0%;
    /* padding-top: 10px; */


}

.nav-drop a {
    color: #555;
    font-family: 'Helvetica Now Display';
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1ch;


}

.nav-drop a:hover {
    color: #000;
}

.each-list-row {
    list-style-type: none;
}

.main-opt {

    display: none;
}


.main-fix {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    z-index: 100;
    transition: top 0.3s;

}


/* swiper styles start */
swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.swiperlink {
    color: #000;
    font-size: 14px;
    font-weight: 300px;
}

.hor-slide {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

.mySwiper {
    margin: 0;
    padding: 0;
}

/* swiper styles end*/

/* home page styles start */
.futu-bold {
    display: flex;
    font-family: "futura", sans-serif;
    justify-content: center;
    color: black;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: extra-condensed !important;
    letter-spacing: -0.15ch;
    padding: 0%;
    margin: 0%;
}

.futu-small {
    display: flex;
    font-family: "futura", sans-serif;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 17px;
    padding: 0%;
    margin: 0%;
    font-style: normal;


}

.menubtn {
    border: none;
    all: unset;


}

.cbtn {
    color: aliceblue;
    border-radius: 40%;
    width: 300px;
}

.btn-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.coming button {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    color: aliceblue;
    font-size: 1.1rem;
    background: #000;
    border: 0;
    padding: 8px 24px;
    margin: 10px;
}

.coming button:hover {
    background: #555;
}

.fw-500 {

    font-family: 'Helvetica Now Display';
    font-weight: 500;

}

.fw-300 {

    font-family: 'Helvetica Now Display';
    font-weight: 400;
    font-size: 0.8rem;

}

/* home page styles ends */


/* wrapper corousel starts */
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 360px;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #707072;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    width: fit-content;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
}



/* wrapper corousel ends */

/* jordan nav starts */
.jordan-nav a {
    text-decoration: none;
    color: #000;
    font-family: 'Helvetica Now Display';
    font-size: 13px;
    font-weight: 500;

}
.jordan-nav a:hover{
    color: #555;

}
/* .jordan-wrapper{
    position: fixed;
    top:0;
    width:100%;
} */

.jordan-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-links {
    justify-content: space-between;
}
.jordan-p {
    justify-content: center;
    align-content: center;
}

.vr {
    color: #000;
    height: 1em;
    margin: auto 0;


}

/* jordan nav ends */
.nav-link {
    padding: 0;
    font-family: 'Helvetica Now Display';
    font-size: 16px;
    font-weight: 500;

}

.nav-desc {
    color: #555;
    font-family: 'Helvetica Now Display';
    font-size: 20px;
    font-weight: 500;
}

.button-na {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5rem;
    color: aliceblue;
    font-size: 1.1rem;
    background: #000;
    border: 0;
    padding: 9px 24px;
    width: 40%;
    margin: 10px;
}

.button-na:hover {
    background: #555;
}

.button-naw {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    color: #000;
    font-size: 1.1rem;
    background: #fff;
    border: 1;
    border-color: #555;
    padding: 9px 24px;
    width: 40%;
    margin: 10px;
}

.button-naw:hover {
    background: #555;
    color: #fff;
    border: 1;
    border-color: #f5f5f5;
}

.nav-a-texts {
    font-size: 1rem;
    color: #555
}

.drop-link-ss {
    text-decoration: none;
    color: #555;
}

.drop-child-ss {
    padding-top: 1ch;
}

#member-benefits{
    padding: 80px 4% 0 4%;
}
#member-benefits #carosal-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
  }
  
#member-benefits  .carosal-arrow-btn {
    background-color: #e5e5e5;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 300;
    height: 50px;
    width: 50px;
  }
#member-benefits .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: 0;  */
}
 
#member-benefits .carousel::-webkit-scrollbar {
    height: 8px;
}
#member-benefits .carousel::-webkit-scrollbar-thumb{
    background-color: #707072;
}
 
#member-benefits .carousel :where(.card) {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
#member-benefits .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
 
#member-benefits .carousel.no-transition {
    scroll-behavior: auto;
}
 
#member-benefits .carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
 
#member-benefits .carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    width: 100%;
    height: 475px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 50px;
    color: white;

}
#member-benefits .member-benefits-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#member-benefits .button-member-benefit{
    padding: 13px;
    border-radius: 50%;
    border: none;
}

#member-benefits #member-benefits-carousel .card1{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/cb28c551-b85b-479f-8fc3-40ad4e7c9ca4/nike-membership.jpg");
    background-size: cover;
}
#member-benefits #member-benefits-carousel .card2{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/100ca749-1a94-4f98-bc43-a58e7e9cdbcf/nike-membership.png");
    background-size: cover;
}
#member-benefits #member-benefits-carousel .card3{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/39412611-0af5-4770-8c2e-ef5c23bc6a3d/nike-membership.jpg");
    background-size: cover;
}
#member-benefits #member-benefits-carousel .card4{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/a9767bce-db10-41ff-9eb5-f5daf8bbb3e6/nike-membership.png");
    background-size: cover;
}
#member-benefits #member-benefits-carousel .card5{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/37b262a3-c8c7-49e8-a29f-8d46bc8ab950/nike-membership.jpg");
    background-size: cover;
}

#member-benefits .card button{
    font-weight: 500;
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 17px;
}

#shop-by-sport .wrapper li img{
    width: 100%;
}
#shop-by-sport #shop-by-sport-carousel-ul a{
    text-decoration: none;
    color: #111;
}
#shop-by-sport .wrapper .shop{
    text-decoration: underline !important;
    text-underline-offset: 5px !important;
}

#shop-by-sport .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 450px;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 40px;
}

#shop-by-sport .carousel::-webkit-scrollbar {
    height: 8px;
}

#shop-by-sport .carousel::-webkit-scrollbar-thumb {
    background-color: #707072;
}

#shop-by-sport .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-by-sport .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

#shop-by-sport .carousel.no-transition {
    scroll-behavior: auto;
}

#shop-by-sport .carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

#shop-by-sport .carousel .card {
    scroll-snap-align: start;
    width: fit-content;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: none;
}
#shop-by-sport #carosal-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
  }
  
#shop-by-sport .carosal-arrow-btn {
    background-color: #e5e5e5;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 300;
    height: 50px;
    width: 50px;
  }



@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }

    .futu-bold {
        justify-content: flex-start;
        font-size: 30px;
    }

    .futu-small {
        justify-content: flex-start;
        text-align: left;
    }

    .coming button {

        font-size: 13px;
        display: flex;
        padding: 3%;
        margin-left: 1%;
        margin-top: 6%;
        margin-bottom: 0;
        width: 40%;

    }
    .jordan-wrapper{
        display: none;
    }

    .coming {
        padding: 0 2%;
        margin: 0;
    }

    .btn-wrap {
        padding: 0;
        justify-content: flex-start;
    }

    .m-5 {
        margin-left: 0 !important;
    }

    .mb-1 {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn-nav2 {
        margin: 0;
        padding: 0;

    }

    #favourite-icon {
        display: none;
    }

    #profile-icon {
        display: block !important;
    }

    .btn-search {
        padding: 0 !important;
        margin: 0 !important;
    }

    .nav-icon {
        padding: 0 !important;
        margin: 0 !important;
    }

    #hamburger-icon {
        padding: 0 !important;
        margin: 0 !important;
    }

    .nav-bar-all-icons {
        justify-content: space-between;
        width: 15rem;
    }
}


/* #shop-by-sport #shop-by-sport-carousel-ul li{
    list-style: none;
}
#shop-by-sport #shop-by-sport-carousel-ul li img{
    width: 450px;
    height: auto;
    object-fit: fill;
} */