*{
    font-family: 'Helvetica Now Display';
}
#login{
    display: flex;
    justify-content: center;
}
#login .container{
    width: 540px;
    height: 100vh;
    padding: 20px 40px;
}
#login .container h1{
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
}
#login #change-button{
    border: none;
    color: rgb(102, 102, 102);
    text-decoration: underline;
    background-color: white;
}

#login .details p, #login .details p a{
    font-size: 17px;
    letter-spacing: 0.7px;
    color: grey;
}
#login .button-continue{
    display: flex;
    justify-content: end;
}

#login .btn{
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
}
#login .input-label{
    position: relative;
}
#login .input-label label{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: .5s;
    color: rgb(108, 108, 108);
}
#login input{
    padding: 16px 16px 16px 12px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    outline: none;
}
.check-box{
    font-size: 30px;
    width: 40px !important;
    accent-color: black;
}
#login input:focus~label,
#login input:valid~label{
    top: 0;
    font-size: 12px;
    background-color: white;
    padding: 2px;
    color: black;
}
.hidden {
    display: none;
    text-decoration: none;
}

#countryDropdown {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.result{
    color:black !important; 
    font-weight: 400;
}
.text-for-drop{
    color:#555;
    font-weight: 400;
    
}
.icon-end{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 20px;
    transform: translateY(-50%);
    /* height: 25px;
    width: auto; */
    color: #000000;
    z-index: 1;
}
#login #signup-account p{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
#login .edit{
    font-size: 16px;
    color: #707072;
    text-decoration: underline;
}
#login .full-name{
    display: flex;
    justify-content: space-between;
}

#login #signup-account p span{
    font-size: 13px;
}
select{
    width: 100%;
    padding: 16px 16px 16px 12px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    color: rgb(108, 108, 108);
}
input[type="date"]{
    color: rgb(108, 108, 108);
}

@media screen and (max-width: 376px) {
#login .btn{
    width: 100%;
}
}
