 @import url('https://www.nike.com/static/ncss/4.3/dotcom/fonts/Nike-Futura.woff2');
 
*{
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;

}

#body{
    overflow: auto;
    display: block;
    /* margin:0 0 0 3%; */
    font-family: 'HelvaticaNowDisplay ';
    font-size: 40%;
    width: 100%;

}
section{
    padding:1em;
}

 
#nav-header{
    /* display: flex; */
    position:relative;
    background-color: #ffff;
    color: black;
    /* justify-content: space-around; */
    align-self: center;
    
}


#nav-header .nav-container{
    top: 0%;
    padding-top: 3%;
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: baseline;
    z-index: 1000;
    background-color: white;
}

.nav-bar-men{
    font-size: 1.5em;
    margin-left: 2%;
    padding-right: 35%;
}



#nav-header ul{
    padding-left: 40%; 
    display: inline-flex;
    list-style: none;

}
#nav-header .nav-bar a{
    text-decoration: none;
    color: black;
    padding: 0.5% 0;
    transition: color .2s ease-in-out;
    font-weight: 500;
    
}
#nav-header .nav-bar a:hover{
  
    color: rgb(94, 94, 94);
    
    
}
#nav-header li{
    padding-left:10%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3%;

}

#nav-header .video-container .landscape-video{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: 30%;
}
.nav-header .video-link a{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: 30%;
    z-index: 1;
}



#home .description span{
    display: flex;
    justify-content: center;
}

#home .description .button{
    display: flex;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    width: 90px;
    text-align: center;

    justify-content: center; 
    align-items: center; 
    height: 40px; 
}
#home .description .button:hover{
    background-color: #6a6d78;
}

#home .button p{
    color: white;
    
}
#home .description p{
    text-align: center;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-weight: 500;

}
#home .description h3{
    text-align: center;
    display: block;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    letter-spacing:-0.1cm;
    font-weight: 1000;
    font-size: 4.5em;
    line-height: 0.5cm;

}


#featured{
    margin-left: 3%;
}

#featured .image-container .landscape-image{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-size: cover;
}


#featured .description span{
    display: flex;
    justify-content: center;
}

#featured .description .button{
    display: flex;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    width: 110px;
    text-align: center;

    justify-content: center; 
    align-items: center; 
    height: 40px; 
}
#featured .description .button:hover{
    background-color: #6a6d78;
}

#featured .button p{
    color: white;
    
}
#featured .description p{
    text-align: center;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-weight: 500;

}
#featured .description h3{
    text-align: center;
    display: block;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    letter-spacing:-0.1cm;
    font-weight: 1000;
    font-size: 4.5em;
    line-height: 0.5cm;

}
#shop-by-icon{
    margin-left: 2%;
}
#trending{
    margin-left: 2%;
}
#popular-right-now{
    padding-top: 0%;
    margin-top:0%;
    margin-left: 2%;
}

#trending img{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

#trending span{
    display: flex;
    justify-content: center;
}
#trending .description button{
    margin-right: 6px;
    background-color: #000000;
    color: #fff;
    width: 70px;
    height: 40px;
    border-radius:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.card-overlay-content .button p{
    color: white;
}
#trending .description p{
    text-align: center;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-weight: 500;

}
#trending .description h3{
    text-align: center;
    display: block;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    letter-spacing:-0.1cm;
    font-weight: 1000;
    font-size: 4.5em;
    line-height: 0.5cm;

}

#trending .video-container .landscape-video{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: 30%;
}

#trending-women {
    margin-left: 4%;
}

#trending-women li{
    object-position: 50% 50%;
}
#trending-women img{
    position: relative;
    width: 100%;
    height: 90%;
    min-height: 300px;
}
#trending-women .picture-text span{
    display: flex;
}
#trending-women ul{
    padding-left: 10%;
    display: inline-flex;
    list-style: none;
}
#trending-women a{
    text-decoration: none;
    color: black;
    padding: 0.5% 0;
    transition: color .2s ease-in-out;
    font-weight: 500;
    
}
#trending-women li{
    padding-left:10%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3%;

}
#trending-women h5{
    color: #fff;
}
#trending-women span{
    align-items: center;
    gap: 5%;
}
#trending-women .button{
    height: 40px;
    background-color: #ffff;
}
#trending-women .button:hover{
    background-color:#6a6d78;
}
#trending-women .button p{
    padding-top: 10%;
    color: #000000;
    
}
#trending-women .card-overlay-content{
    position: absolute;
    text-align: start;
    bottom: 6em;
    left: 4em;
}

#dont-miss img{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#dont-miss h5{
    color: #fff;
}


.move-with-us .button{
    color: white;
    background-color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 2.5em;

}

.move-with-us .video-container .landscape-video{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 1em;
}
.move-with-us span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#trending .description button:hover{
    background-color: #6a6d78;
}
#trending .description span{
    margin-bottom: 4%;
    gap: 3%;
}

span{
    gap: 2%;
}




 #find-next-fav {
    padding: 0 4%;
    /* height: 50vh; */
  }
  #find-next-fav-header p {
    margin-bottom: 0;
  }
  #find-next-fav-header {
    margin-bottom: 0;
    padding: 1% 2%;
  }
  
  #find-next-fav-header-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  #carosal-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .carosal-arrow-btn {
    background-color: #e5e5e5;
    border-radius: 50%;
    font-size: 1.1rem;
    height: 50px;
    width: 50px;
    color: #000000;
  }
  button.btn.carosal-arrow-btn:focus{
 
        outline: none;
        box-shadow: none;
  }
  #find-next-fav-carousal {
    /* display: inline-block; */
    /* flex-wrap: nowrap; */
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: min-content;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  
  
  
  .find-fav-product-card {
    flex-shrink: 0;
    display: inline-block;
    width: 100%;
  }
  .find-fav-product-image {
    border-radius: 5px;
    width: 100%;
  }
  
  .find-next-fav-product-description {
    font-size: 1.1rem;
  }
  .find-next-fav-product-name,
  .find-next-fav-product-price {
    margin-bottom: 0;
    font-weight: 500;
  }
  
  .find-next-fav-product-category {
    margin-bottom: 0.6rem;
    color: #707072;
  }
  #find-next-fav-carousal::-webkit-scrollbar {
    width: 1000px;
    height: 500px;
  }
  
 
  
  .wrapper .carousel {
    height:600px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 360px;
    /* grid-auto-columns: calc((100% / 3));  */
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: 0;  */
  }
  
  .carousel::-webkit-scrollbar {
    height: 8px;
  }
  .carousel::-webkit-scrollbar-thumb {
    background-color: #707072;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  
  .carousel .card {
    scroll-snap-align: start;
    width: fit-content;
    /* height: 340px;  */
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    /* width: 98%;  */
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
  }
  
 
  .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  
  .card span {
    color: #6a6d78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 960px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }

    h3{
        font-size: 120%;
    }

    #nav-header .nav-container{
        height: 20%;
    }
    
    #nav-header ul{
        padding-left: 3%;
    }
    #home .description div{
        text-align: left;
        justify-content: flex-start;
        position: relative;

    }
    #featured .description p{
        text-align: start;
    }
    #featured .description h3{
        text-align: start;
        font-size: 2em;
    }
    #featured .description span{
        justify-content: start;
    }


    #trending .description h3{
        text-align: start;
    }
    #trending .description p{
        text-align: start;
    }
    #trending .description span{
        justify-content: start;
    }

    #trending .description .button {
        /* margin-right: 6px; */
        /* width: 70px; */
        height: 40px;
        border-radius:50px;
        display: flex;
        align-items: center;
        justify-content: start;
        
    }
    #trending .description .button p{
        text-align: center;
    }
    #home span{
        gap: 5%;
    }
    #home .description{
        margin-left: 3%;
    }
    #home .description .button{
        width: 160px;
        height: 40px;
        border-radius:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        cursor: pointer;
    }
    
    #shop-by-icon h4{
        margin-bottom: -5%;
        text-align: start;
        padding-left: 0;
    }
    #shop-by-icon .picture-text{
        bottom: 1%;
        left: 0%;
    }
    #trending .description span{
        justify-content: center;
    }
    
  }




.picture-text{
    color: black;
    position: absolute;
    bottom: 1em;
    left: 35%;
}
h2{
    font-size: 16px;
}
.button{
    /* margin-right: 6px; */
    /* max-width: 00%; */
    padding-left: 1em;
    padding-right: 1em;
    border-radius:50px;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    border:none;
    /* text-wrap: wrap; */
}


#dont-miss{
    margin-left: 2%;
}

#dont-miss h3{
    margin-left: 2%;
}

#dont-miss .picture-text{
    position: absolute;
    text-align: start;
    bottom: 2em;
    left: 2em;
}
#dont-miss .picture-text .button{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 40em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
}
#dont-miss .picture-text .button p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#dont-miss .picture-text .button:hover{
    background-color: #6a6d78;
}




#shop-by-icon span{
    padding-top: 2%;
    display: flex;
    align-items: center;
}
#shop-by-icon h5{
    padding-left: 60%;
}


#popular-right-now{
    margin-left: 2%;
}
#popular-right-now span{
    display: flex;
    padding-bottom: 2%;
    align-items: center;
}
#popular-right-now h5{
    padding-left: 60%;
}

#shop-by-sport span{
    display: flex;
    padding-bottom: 2%;
    align-items: center;
}
#shop-by-sport h5{
    padding-left: 60%;
}


.texts{
    text-align: start;
}

#shop-the-essentials{
    margin-left: 2%;

}
#shop-the-essentials h3{
    margin-top: -40px;
    margin-left: 2%;
}

#shop-by-sport{
    margin-left: 3%;
    margin-top: -60px;
    margin-bottom: -200px;

}

#shop-the-essentials .wrapper{
    overflow: hidden;
}

#popular-right-now .wrapper{
    overflow: hidden;
}

#popular-right-now img{
    height: 80%;
    width: 100%;
}




#slide-left , #slide-right{
    border-radius: 50%;
    width: 2rem;
    border-color: rgb(160, 164, 168);
}



#nav-footer ul{
    list-style: none;
    gap: 10%;

}

#nav-footer a{
    text-decoration: none;
    color: #707072;
    transition: color .2s ease-in-out;
    font-weight: 6em;
    font-size: 100%;

}
#nav-footer a:hover{
    color: #000000;
}
#nav-footer li{
    margin-top: 10px;

    
}


#nav-footer .grid-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    min-width: 200px;
    margin: 0 100px;
    box-sizing: border-box;
}


#nav-footer h5 {
    margin-bottom: 10px;

}


#nav-footer #hidden-list {
    margin-top: -.4cm;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;

  }
  
  #nav-footer #show-list:hover + #hidden-list,
  #nav-footer #hidden-list:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

 
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 360px;
    /* grid-auto-columns: calc((100% / 3));  */
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: 0;  */

}
 
.carousel::-webkit-scrollbar {
    height: 8px;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #707072;
}
 
.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
 
.carousel.no-transition {
    scroll-behavior: auto;
}
 
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
 
.carousel .card {
    scroll-snap-align: start;
    width: fit-content;
    height: 500px; 
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    /* width: 98%;  */
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
}
 




.button-span {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: flex-end;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.scroll-left {
    left: 10px;
}

.scroll-right {
    right: 10px;
}







 
@media screen and (max-width: 960px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    
}

 
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
 
    }
    #nav-header .nav-container{
        position: fixed;
        z-index: 1000;
        background-color:white;
    }
    

    .portrait-video{
        display: block;
        position: relative;
        width: 100%;
        height: 100vh;
        /* background-image: url('https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/14d3e92e-35ac-43f0-bc25-27e764d2f858/image.png'); */
        background-size: cover;
        background-position: center;

    }


    #home .description{
        align-items: start;
        
    }
    #home .description h3{
        text-align: start;
        display: block;
        /* margin-block-start: 1em;
        margin-block-end: 1em; */
        font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
        /* letter-spacing:-0.1cm; */
        font-weight: 1000;
        font-size: 2em;
        /* line-height: 0.5cm; */
    
    }

   
    

    #trending .description h3{
        text-align: start;
        display: block;
        /* margin-block-start: 1em;
        margin-block-end: 1em; */
        font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
        /* letter-spacing:-0.1cm; */
        font-weight: 1000;
        font-size: 2em;
        /* line-height: 0.5cm; */
    }
    .carosal-arrow-btn{
        display: none;
    }
}

@media (orientation: landscape) {
    #nav-header .nav-bar-men p{
        margin-left: 2%;
        position:fixed;
    }

    #nav-header ul{
        position: fixed;
    }

    #nav-footer .footer-portrait{
        display: none;
    }

    .portrait-image {
        display: none;
    }

    .landscape-image {
        display: block;
        /* background-image: url('https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/ae0328dc-17b6-4e01-b110-7609b3404d16/image.png'); */

    }
    .portrait-video{
        display: none;
    }
    .landscape-video{
        display: block;
    }
}

@media (orientation: portrait) {
    #nav-header .nav-bar-men p{
        margin-left: 8%;
    }
    #nav-header .nav-bar ul {
        margin-left: 0%;
        align-items: start;
    }

    #home .description p{
        text-align: start;
        display: block;
        margin: 0;
        font-weight: 500;
    
    }
    #home .description span{
        justify-content: start;
        text-align: center;
        display: flex;
        margin: 0;
        font-weight: 500;
    
    }
    #home .description .button{
        width: 20%;

    }
    
    
    #featured .description{
        justify-content: start;
        align-items: start;
    }
    #nav-footer .footer-portrait{
        display: block;
    }
    #nav-footer #show-list{
        display: none;
    }
    #nav-footer #hidden-list{
        display: none;
    }

    .landscape-image {
        display: none;
    }

    .portrait-image {
        display: block;
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: transparent;

    }
    .landscape-video{
        display: none;
    }

    .portrait-video{
        display: block;
        position: relative;
        width: 100%;
        height: 100vh;
        /* background-image: url('https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/14d3e92e-35ac-43f0-bc25-27e764d2f858/image.png'); */
        background-size: cover;
        background-position: center;

    }
}