*{
    font-family: 'Helvetica Now Display';
}

#profile-head .profile-head-div{
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 17px;
    font-weight: 500;
    color: #111111;
}
#profile-name-section{
    margin-top: 50px;
    padding: 50px 4%;
}
#profile-name-section .profile-name-div{
    display: flex;
    gap: 30px;
}
#profile-name-section .profile-name-div img{
    width: 96px;
    height: 96px;
    background-color: #E5E5E5;
    border-radius: 50%;
}
#profile-name-section .profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#profile-name-section .profile-name h6{
    color: #707072;
    font-weight: 400;
}
#interest{
    padding: 0 4%;
}
#interest ul{
    border-bottom: 1px solid #d0d0d0;
}
#interest a{
    padding: 18px 20px;
    font-size: 16.5px;
    font-weight: 500;
}
a.nav-link{
    color: #707072;
}
.nav-item a:hover{
    cursor: pointer;
}
a.nav-link:hover{
    color: #707072;
}
#interest .interest-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    height: 250px;
}
#interest .all-interest{
    padding: 16px 0 25px 0;
    font-size: 16px;
    letter-spacing: 0.5px;
}

#interest i{
    font-size: 23px;
}
#interest h5{
    padding-top: 16px;
}
#interest .add-interest{
    width: 100%;
    height: 100%;
    border: none;
}
#interest .interest-products{
    position: relative;
}
#interest .interest-product-head{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
#interest .interest-products img{
    width: 100%;
    filter: brightness(80%);
}
/* !@#$%^&*()_ */
#interest .interest-products img:hover{
    width: 100%;
    filter: brightness(50%);
}
#movingbtn{
   position: absolute;
   top: 20px;
    transform: translate(0, 0);
    padding: 10px 20px;
    visibility: hidden;
}
.interest-products:hover #movingbtn{
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: bold;
    transform: translate(0, -80%);
    transition: transform 0.5s ease;
    visibility:visible;     
}
.interest-products:hover .moving-txt{
    transform: translate(0, -180%);
    transition: transform 0.5s ease;
      
}

/* !@#$%^&*()(*&^%$#@) */






/* #interest .interest-products:hover .button{
    display: block;
} */
#interest .interest-content-text{
    transition: transform 0.1s;
}
#interest .interest-content-text:hover{
    transform: scale(1.2);
}
.interest-content{
    display: none;
}
.interest-content.display-content{
    display: block;
}


.interest-modal{
    display: none;
}
.interest-modal.display-content{
    display: block;
}

.modal-content{
    border-radius: 30px !important;
    height: 480px;
}
#modal-nav{
    overflow-x: scroll;
    padding: 0;
    gap: 0;
}
#modal-nav li{
    list-style-type: none;
}
#modal-nav::-webkit-scrollbar{
    display: none;
}
.interest-lists-div{
    margin: 0% 9%;
    display: flex;
    flex-direction: column;
}
.interest-lists-div .interest-list{
    display: flex;
    justify-content: space-between;
}
.interest-lists-div .interest-list .basketball{
    display: flex;
    align-items: center;
    gap: 20px;
}
.interest-lists-div .interest-list .basketball img{
    width: 65px;
}
input[type="checkbox"] {
    width: 20px;
    accent-color:#111111;
}
.modal-footer button{
    padding: 10px 20px;
    border-radius: 30px;
}
.modal-footer .cancel-btn{
    border: 1.5px solid rgb(160, 160, 160);
}
.modal-footer .cancel-btn:hover{
    border: 1.5px solid black;
}







/* Carousel */


.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 360px;
    /* grid-auto-columns: calc((100% / 3));  */
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: 0;  */
  }
  
  .carousel::-webkit-scrollbar {
    height: 8px;
  }
  .carousel::-webkit-scrollbar-thumb {
    background-color: #707072;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  
  .carousel .card {
    scroll-snap-align: start;
    width: fit-content;
    /* height: 340px;  */
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    /* width: 98%;  */
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
  }
  
  .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  
  .card span {
    color: #6a6d78;
    font-size: 1.31rem;
  }
  
  /* @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  } */



  
#find-next-fav {
    padding: 0 4%;
    /* height: 50vh; */
  }
  #find-next-fav-header p {
    margin-bottom: 0;
  }
  #find-next-fav-header {
    margin-bottom: 0;
    padding: 1% 2%;
  }
  
  #find-next-fav-header-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  #carosal-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .carosal-arrow-btn {
    background-color: #e5e5e5;
    border-radius: 50%;
    font-size: 1.1rem;
    height: 50px;
    width: 50px;
  }
  
  #find-next-fav-carousal {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: min-content;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  
  
  #find-next{
    padding: 4rem 4%;
  }
  .find-fav-product-card {
    flex-shrink: 0;
    display: inline-block;
    width: 100%;
  }
  .find-fav-product-image {
    border-radius: 5px;
    width: 100%;
  }
  
  .find-next-fav-product-description {
    font-size: 1.1rem;
  }
  .find-next-fav-product-name,
  .find-next-fav-product-price {
    margin-bottom: 0;
    font-weight: 500;
  }
  .find-next-fav-product-name {
  }
  .find-next-fav-product-category {
    margin-bottom: 0.6rem;
    color: #707072;
  }
  #find-next-fav-carousal::-webkit-scrollbar {
    width: 1000px;
  }
  