@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
    font-family: 'Helvetica Now Display';
}
#nike-membership .head{
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    align-items: end;
    padding: 26px 4% 34px 4%;
}
.section-heading{
    font-weight: 500;
    font-size: 1.5rem;
    color: #111111;
}

#nike-membership .head a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #111111;
}
#nike-membership .head a p{
    margin: 0;
}
#nike-membership .head h1{
    margin: 0;
}
#head-video-box{
    padding: 0 4%;
}
#head-video-box{
    position: relative;
    text-align: center;
}
#head-video-box img{
    width: 100%;
}
#head-video-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#head-video-box .video-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}
#head-video-box .video-text h1{
    /* font-family: 'Nike Futura ND', 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif; */
    font-family: "Freeman", sans-serif;
    /* font-family: "futura", sans-serif; */    
    font-weight: 800;
    font-size: 75px;
}

#head-video-box .video-text button{
    font-weight: 500;
    border-radius: 50px;
    font-size: 17px;
    padding-left: 17px;
    padding-right: 17px;
}
#member-benefits{
    padding: 80px 4% 0 4%;
}
#member-benefits #carosal-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
  }
  
#member-benefits  .carosal-arrow-btn {
    background-color: #e5e5e5;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 300;
    height: 50px;
    width: 50px;
  }
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: 0;  */
}
 
.carousel::-webkit-scrollbar {
    height: 8px;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #707072;
}
 
.carousel :where(.card) {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
 
.carousel.no-transition {
    scroll-behavior: auto;
}
 
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
 
.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    width: 100%;
    height: 475px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 50px;
    color: white;

}
#member-benefits .member-benefits-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#member-benefits .button-member-benefit{
    padding: 13px;
    border-radius: 50%;
    border: none;
}

#member-benefits .card1{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/cb28c551-b85b-479f-8fc3-40ad4e7c9ca4/nike-membership.jpg");
    background-size: cover;
}
#member-benefits .card2{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/100ca749-1a94-4f98-bc43-a58e7e9cdbcf/nike-membership.png");
    background-size: cover;
}
#member-benefits .card3{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/39412611-0af5-4770-8c2e-ef5c23bc6a3d/nike-membership.jpg");
    background-size: cover;
}
#member-benefits .card4{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/a9767bce-db10-41ff-9eb5-f5daf8bbb3e6/nike-membership.png");
    background-size: cover;
}
#member-benefits .card5{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_476,c_limit/37b262a3-c8c7-49e8-a29f-8d46bc8ab950/nike-membership.jpg");
    background-size: cover;
}

#member-benefits .card button{
    font-weight: 500;
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 17px;
}

/* #member-benefits .member-cards button{
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 50px;
} */
#members-get{
    padding: 80px 4% 0 4%;
}
#members-get .members-get-card{
    display: flex;
    padding-bottom: 60px;
}
#members-get .get-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
#members-get .get-card h3{
    font-size: 20px;
    font-weight: 500;
}
#members-get .get-card p{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.membership-strip-image1{
    width: 100%;
}
.membership-strip-image2{
    display: none;
}
#connect{
    padding: 80px 4% 0 4%;
}
#connect .connect-class{
    display: flex;
    gap: 5px;
}
#connect .connect-cards{
    width: 33%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
#connect .connect-cards img{
    width: 120%;
    padding-bottom: 30px;
}

#connect .connect-cards h3{
    font-size: 21px;
}
#connect .connect-cards p{
    font-size: 16px;
    letter-spacing: 0.9px;
}
#connect .connect-cards a{
    color: #111111;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 17px;
    text-underline-offset: 5px;
}
#nike-video video{
    width: 100%;
    padding-bottom: 80px;
}


#faq{
    padding: 0 4% 0 4%;
}

#faq a{
    color: #111111;
    font-weight: 500;
}

 
#faq .accordion-header{
    padding: 30px 0px;
}
#faq .accordion button{
    font-weight: 500;
    font-size: 20px;
    padding: 30px 0px;
}
#faq .accordion-body{
    font-weight: 500px;
    font-size: 20px;
    padding: 0px 0px 54px 0px;
    letter-spacing: 0.9px;
}
#membership-image img{
    width: 100%;
    padding: 30px 4%;
    object-fit: cover;
    margin-bottom: 80px;
}
#membership-image .membership-last-image2{
    display: none;
}
#faq .accordion-button:focus{
    box-shadow: none !important;
    border: none !important;

}
#faq .accordion-button:not(.collapsed) {
    color: #111111 !important;
    background-color: white !important;
    box-shadow: none !important;
}
@media screen and (max-width: 1100px) {
    .carousel .card {
        height: 400px;
    }
}


@media screen and (max-width: 960px) {
    #head-video-box .video-text h1{
        font-size: 38px;
    }
    #head-video-box .video-text button{
        font-size: 15px;
    }
    #members-get .get-card p{
        font-size: 16px;
    }
    #nike-membership .head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .wrapper .carousel {
        grid-auto-columns: 73%;
    }
    #connect .connect-cards{
        width: 73%;
    }
    .carousel .card {
        height: 800px;
    }
}
@media screen and (max-width: 900px) {
    .carousel .card {
        height: 700px;
    }
}
@media screen and (max-width: 700px) {
    .carousel .card {
        height: 550px;
    }
}
 
@media screen and (max-width: 600px) {
    #head-video-box{
        padding: 0 0;
    }
    #head-video-box video{
        height: 600px;
        object-fit: cover;
    }
    #head-video-box .video-text{
        top: 70%;
        left: 34%;
        transform: translate(-40%, -40%); 
        text-align: left;
    }
    #member-benefits #carosal-btn-container{
        visibility: hidden;
    }
    .carousel .card {
        height: 450px;
    }
    #members-get .members-get-card{
        flex-direction: column;
        gap: 50px;
    }
    #members-get .get-card{
        width: 100%;
    }
    .membership-strip-image1{
        display: none;
    }
    .membership-strip-image2{
        display: block;
        width: 100%;
    }
    #connect .connect-class{
        flex-direction: column;
    }
    #connect .connect-cards{
        width: 100%;
        height:300px;
        margin-bottom: 0;
    }
    #connect .card1{
        background-image: none;
    }
    
    #connect .connect-cards img{
        width: 100%;
        padding-bottom: 30px;
    }
    #faq .accordion-body{
        font-size: 17px;
        letter-spacing: normal;
    }
    #membership-image .membership-last-image1{
        display: none;
    }
    #membership-image .membership-last-image2{
        display: block;
    }

}
@media screen and (max-width: 500px) {
    .carousel .card {
        height: 400px;
    }
}
@media screen and (max-width: 400px) {
    #head-video-box video{
        height: 450px;
    }
    #head-video-box .video-text{
        top: 60%;
        left: 34%;
        transform: translate(-40%, -40%); 
    }
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    #connect .connect-cards{
        width: 100%;
    }
    .carousel .card {
        height: 400px;
    }
}