:root {
  --nav-color: #808080;
  --snkrs-font: Arial, Helvetica, sans-serif;
  --btn-color: #111;
}
nav {
  width: 199vh;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-family: var(--snkrs-font);
}
header {
  display: flex;
  justify-content: space-evenly;
  height: 56px;
  font-family: var(--snkrs-font);
}
hr {
  margin: 0;
  color: var(--nav-color);
}
footer {
  height: 57vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav-return-link {
  font-size: 12px;
  color: var(--nav-color);
  display: flex;
  padding-left: 27px;
}
.arrow-head {
  padding-top: 9px;
  padding-right: 3px;
}
.nav-return-link p {
  padding-top: 10px;
}
.nav-return-link img {
  width: 15px;
  height: 10px;
}
.nav-return-link,
.nav-links {
  width: 50%;
  cursor: pointer;
}
.nav-links {
  display: flex;
  justify-content: end;
  padding-top: 9px;
  padding-right: 35px;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.nav-links ul li {
  font-size: 13px;
  color: var(--nav-color);
}
.nav-link-hover a {
  color: var(--nav-color);
}
.nav-link-hover a:hover {
  color: black;
}
.snkrs-logo {
  width: 10%;
  display: flex;
  padding-left: 32px;
  padding-top: 9px;
}
.snkrs-tabs {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.snkrs-tabs ul {
  display: flex;
  flex-direction: row;
  gap: 43px;
}
.tab-items {
  position: relative;
  top: 5px;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
}
.active {
  font-weight: 100 !important;
}
.snkrs-toggle-view {
  width: 10%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.snkrs-logo,
.snkrs-tabs,
.snkrs-toggle-view {
  cursor: pointer;
}
#feed-container {
  display: flex;
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
}
.feed-card {
  border: transparent;
  border-radius: 0;
  height: 527px;
  width: 425px !important;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.feed-card img {
  height: 440px;
  width: 390px;
}
.card-title-p {
  padding-bottom: 0 !important;
}
.card-title-h3 {
  padding: 0 !important;
}
.card-title-h3,
.card-title-p {
  font-family: var(--snkrs-font);
  font-weight: 500;
}
#grid-container {
  display: flex;
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
}
.grid-card {
  border: transparent;
  border-radius: 0;
  height: 336px;
  width: 300px !important;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.grid-card img {
  height: 336px;
  width: 291px;
}

.card img {
  transition: opacity 0.3s;
}

.card-body {
  padding: 15px;
  transition: opacity 0.3s;
}

.card:hover img {
  opacity: 0.5;
}

.card .hover-button {
  display: none;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .hover-button {
  display: block;
}

.card:hover .card-body {
  opacity: 0;
}

.button {
  padding: 10px 20px;
  background-color: var(--btn-color);
  font-family: var(--snkrs-font);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #0056b3;
}
.sub-footer {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.location {
  width: 50%;
  padding-left: 30px;
  padding-top: 13px;
}
.copy {
  color: var(--nav-color);
  padding-left: 30px;
}
.sub-footer-menu {
  width: 50%;
  display: flex;
  justify-content: end;
  padding-right: 35px;
  padding-top: 14px;
  color: var(--nav-color);
}
.sub-footer-menu ul {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.footer-menu {
  width: 200vh;
}
.menu-item {
  padding-bottom: 14px;
  font-size: 12px;
  color: var(--nav-color);
}
.menu {
  padding-top: 38px;
  font-size: 14px;
  width: 247px;
}
.social-links {
  padding-top: 38px;
  padding-left: 296px;
  display: flex;
  gap: 10px;
}
.social-links ul {
  gap: 15px;
  display: flex;
}
.menu-heading {
  padding-bottom: 10px;
}